<div class='main-container login-background'>
  <div class="login-logo-container" ng-class="{'small': $ctrl.step === 2}">
    <img class="login-logo" src="/img/logo.png" >
  </div>
    <form class='login-form'>
      <div ng-form name="regForm" class="form-group">
        <div class="fade" ng-class="{'show': $ctrl.step === 1}"ng-if="$ctrl.step === 1;">
          <!-- <label for="usernameInput">Username</label> -->
          <div class="form-group">
            <input ng-minlength="1" required name="firstname" ng-class="{'is-invalid':regForm.firstname.$invalid && $ctrl.submitted }" ng-model="$ctrl.registerForm.firstName" type="text" class="form-control login-form-input" id="firstNameInput" aria-describedby="emailHelp" placeholder="First Name">
       </div>
            <div class="form-group">
              <input ng-minlength="1"required name="lastname" ng-class="{'is-invalid':regForm.lastname.$invalid && $ctrl.submitted }" ng-model="$ctrl.registerForm.lastName" type="text" class="form-control login-form-input" id="lastNameInput" aria-describedby="emailHelp" placeholder="Last Number">
      </div>
              <div class="form-group">
                <input ng-maxlength="14" ng-minlength="10" required name="phone" ng-class="{'is-invalid':regForm.phone.$invalid && $ctrl.submitted }"ng-model="$ctrl.registerForm.username" type="number"  class="form-control login-form-input" id="usernameInput" aria-describedby="emailHelp" placeholder="Phone Number">
       </div>
                <!-- <small id="emailHelp" class="form-text text-muted">Enter username</small> -->
                <div class="form-group">
                  <!-- <label for="passwordInput">Password</label> -->
                  <input ng-minlength="5" required name="password" ng-class="{'is-invalid':regForm.password.$invalid && $ctrl.submitted}" ng-model="$ctrl.registerForm.password" type="password" class="form-control login-form-input" id="passwordInput" placeholder="Password">
</div>

                  <button type="submit" ng-click="regForm.$valid ? $ctrl.setStep(2) : $ctrl.submitted = true;" class="btn login-btn">Sign Up</button>
            </div>
                <div class="fade lang-select" ng-class="{'show': $ctrl.step === 2}" ng-if="$ctrl.step === 2">
                  <ul class="list-group">
                    <li ng-repeat="lang in $ctrl.langs" ng-click="$ctrl.setLang(lang);" ng-class="{'active': $ctrl.registerForm.lang === lang}" class="list-group-item">{{lang}}</li>
                  </ul>
                  <div class="form-group">
                    <button ng-disabled="!$ctrl.registerForm.lang" type="submit" ng-click="$ctrl.register();" class="btn login-btn">Select</button>
                  </div>
                </div>
              </div>
    </form>
  </div>

  <button id="#showErrorModal" style="display: none;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerErrorModal"/>
  <div id="registerErrorModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" ng-if="angular.element('#registerErrorModal').css('display') !== 'none'">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" ng-click="$ctrl.hideModal()"data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>
<div class="auth-error-modal modal-body">
  <p>Invalid registration data.</p>
</div>
<div class="modal-footer">

  <button type="button" class="btn btn-secondary" ng-click="$ctrl.hideModal()" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
