<div class="guide-card card" ui-sref="guide({userId:$ctrl.guide.id})">
    <div class="card-body">

        <div style="background-image:url(/img/users/{{$ctrl.guide.id}}.jpg)" class="guide-pic"></div>
        <h5 class="card-title">{{$ctrl.guide.first_name}}</h5>
        <p class="guide-language">{{$ctrl.guide.language}}</p>
        <div class="guide-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
        </div>
    </div>
</div>