[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
click = "*"
flask = "*"
flask-sqlalchemy = "*"
coloredlogs = "*"
flask-apispec = "*"
flask-cors = "*"
pyjwt = "*"
flask-api = "*"
marshmallow-sqlalchemy = "*"
twilio = "*"
recombee-api-client = "*"
pymysql = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.6"
