[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
alembic = "*"
marshmallow-sqlalchemy = "*"
click = "*"
coloredlogs = "*"
sqlalchemy = "*"
twilio = "*"
pycodestyle = "*"
pymysql = "*"
flask-mysql = "*"
flask-api = "*"
flask-apispec = "*"
flask-cors = "*"
gunicorn = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
