<div class="main-container">
    <div class="top-container">
        <h1 class="logo clear-margin">Lobo</h1>
        <div class="profile-picture" style="background-image: url('/img/miguel.jpg')">

        </div>
    </div>
    <div class="center-container">
        center goes here
    </div>
    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <a class="sub-nav-item">
                    <i class="fas fa-comment-alt"></i>
                    <span>Inbox</span>
                </a>
            </div>
            <div class="col">
                <a class="sub-nav-item">
                    <i class="fas fa-search"></i>
                    <span>Get Help</span>
                </a>
            </div>
            <div class="col">
                <a class="sub-nav-item">
                    <i class="fas fa-calendar-alt"></i>
                    <span>Appointments</span>
                </a>
            </div>
        </div>
    </div>
</div>