<div class="main-container">
    <div class="top-container">
        <h1 class="logo clear-margin">Lobo</h1>
        <div>

            <a class="sub-nav-item" ui-sref="search">
                <i class="fas fa-search"></i>
            </a>
            <div class="profile-picture" style="background-image: url('/img/miguel.jpg')">
            </div>
        </div>

    </div>
    <div class="center-container">
        <ui-view></ui-view>
    </div>
    <div class="bottom-container">
        <div class="">
            <a class="sub-nav-item" ui-sref="home.inbox">
                <i class="fas fa-comment-alt"></i>
            </a>
        </div>
        <div class="">
            <a class="sub-nav-item" ui-sref="home.guides">
                <i class="fas fa-home"></i>
            </a>
        </div>
        <div class="">
            <a class="sub-nav-item" ui-sref="home.appointments">
                <i class="fas fa-calendar-alt"></i>
            </a>
        </div>
    </div>
</div>