<div class="profile-container">
    <div class="top-container">
        <div class="details">
            <a ui-sref="home.guides" class="back-button">
                <i class="fas fa-chevron-left"></i>
            </a>
            <h2>{{guide.first_name}} {{guide.last_name}}</h2>

        </div>

    </div>
    <div class="center-container">
        <div class="text-center">
            <div class="profile-picture" style="background-image:url(/img/users/{{guide.id}}.jpg)">
            </div>
            <div class="cta-container">
                <button class="cta">Request</button>
            </div>
        </div>
        <div class="container profile-sections-container">
            <div class="profile-section">
                <h3>Language</h3>
                <p>{{guide.language}}</p>
            </div>
            <div class="profile-section">
                <h3>Biography</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
            <div class="profile-section">
                <h3>Reviews</h3>
                <p>Reviews will be here lster</p>
            </div>
        </div>
    </div>
</div>