<div class="profile-container">
    <div class="top-container">
        <div class="details">
            <a ui-sref="home.guides" class="back-button">
                <i class="fas fa-chevron-left"></i>
            </a>
            <h2>{{guide.first_name}} {{guide.last_name}}</h2>

        </div>

    </div>
    <div class="center-container">
        <div class="text-center">
            <div class="profile-picture" style="background-image:url(/img/users/{{guide.id}}.jpg)">
            </div>

        </div>
        <ui-view name="guideContent" />
    </div>
</div>