<div class="container">
<h2>
    What do you need help with?
</h2>
<div class="guide-slide">
    <h3 class="guide-slide-header">
        Drivers License
    </h3>
    <div class="guide-carousel ">
        <div class="guide-card card">
            <div class="card-body">
                <img src="/img/jared-guide.jpg" class="guide-pic">
                <h5 class="card-title">Jared</h5>
                <div class="guide-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
            </div>
        </div>
        <div class="guide-card card">
            <div class="card-body">
                <img src="/img/guide.jpg" class="guide-pic">
                <h5 class="card-title">Karen</h5>
                <div class="guide-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
            </div>
        </div>
    </div>
</div>
</div>