<div class="inbox">
    <div class="conversation-list">

        <lobo-conv-card></lobo-conv-card>
        <lobo-conv-card></lobo-conv-card>
        <lobo-conv-card></lobo-conv-card>
        <lobo-conv-card></lobo-conv-card>
        <lobo-conv-card></lobo-conv-card>
        <lobo-conv-card></lobo-conv-card>
        <lobo-conv-card></lobo-conv-card>
        <lobo-conv-card></lobo-conv-card>
        <lobo-conv-card></lobo-conv-card>
        <lobo-conv-card></lobo-conv-card>
        <lobo-conv-card></lobo-conv-card>

    </div>
</div>