<div class="appointment-card">
    <div class="top-content">
        <div class="guide-pic">

        </div>
        <div class="guide-data">
            <div class="profile-picture" style="background-image:url(/img/users/{{$ctrl.event.guide.id}}.jpg)">
            </div>
            <h3>{{$ctrl.event.guide.first_name}} {{$ctrl.event.guide.last_name}}</h3>
            <p>
                {{$ctrl.event.name}}

            </p>
        </div>
        <div class="event-time">
            <div>
                {{$ctrl.event.date}}
            </div>
        </div>
    </div>
</div>
