<div class="container">
    <div class="schedule-entry">
        <h3>Select a date</h3>
        <div >
            <div>
                <select ng-model="event.date.month">
                    <option value="" selected>Select a Month</option>
                    <option value="01">Jan</option>
                    <option value="02">Feb</option>
                    <option value="03">Mar</option>
                    <option value="04">Apr</option>
                    <option value="05">May</option>
                    <option value="06">Jun</option>
                    <option value="07">Jul</option>
                    <option value="08">Aug</option>
                    <option value="09">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>
            </div>
            <div >
                <select ng-model="event.date.day" ng-options="day as day for day in setups.days track by $index">
                    <option value="" selected>Select a Day</option>
                </select>
            </div>
            <div >
                <select ng-model="event.date.year">
                    <option value="" selected>Select a Year</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>
            </div>
        </div>
    </div>
    <div class="schedule-entry">
        <h3>Select a time</h3>
        <div>
            <div >
                <select ng-model="event.time.hour">
                    <option value="" selected>Select an Hour</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div >
                <select ng-model="event.time.minute">
                    <option value="" selected>Select an Minute</option>
                    <option value="00">00</option>
                    <option value="30">30</option>
                </select>
            </div>
            <div >
                <select ng-model="event.time.timeOfDay">
                    <option value="AM"selected>AM</option>
                    <option value="PM">PM</option>
                </select>
            </div>
        </div>
    </div>
    <div class="bottom-cta">
            <button class="cta" ng-click="schedule()">Request</button>
    </div>
</div>
