<div class="text-center">
    <div class="cta-container">
        <button class="cta" ui-sref="guide.request">Request</button>
    </div>
</div>
<div class="container profile-sections-container">
    <div class="profile-section">
        <h3>Language</h3>
        <p>{{$parent.guide.language}}</p>
    </div>
    <div class="profile-section">
        <h3>Biography</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
    </div>
    <div class="profile-section">
        <h3>Reviews</h3>
        <p>Reviews will be here lster</p>
    </div>
</div>